.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.repositories.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/io.github.pyvesb.eclipse_planet_themes/fonts/FiraCode-Bold.ttf
.metadata/.plugins/io.github.pyvesb.eclipse_planet_themes/fonts/FiraCode-Light.ttf
.metadata/.plugins/io.github.pyvesb.eclipse_planet_themes/fonts/FiraCode-Medium.ttf
.metadata/.plugins/io.github.pyvesb.eclipse_planet_themes/fonts/FiraCode-Regular.ttf
.metadata/.plugins/io.github.pyvesb.eclipse_planet_themes/fonts/FiraCode-SemiBold.ttf
.metadata/.plugins/org.eclipse.core.resources/.history/10/608ee26d3b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/12/70954ae05e01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/17/0054b1e34601001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/18/40e9b8714f01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/19/2002ff7c5f01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/1b/a0f885246001001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/1c/e0cbe8d27701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/2a/1018d6173c0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/2c/a01a16c97107001b1488868992b8c0e5
.metadata/.plugins/org.eclipse.core.resources/.history/2d/004eca183a0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/2f/40549ac87901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/30/80674aa0da06001b18faa048c749ab9b
.metadata/.plugins/org.eclipse.core.resources/.history/32/50f2fb3b7901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/38/907cac4d6001001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/39/80b8d4173c0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/39/60558e043c0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/3f/506c6ea95b01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/40/507036977901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/40/c0b09eba4701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/45/80ba1ee7da06001b18faa048c749ab9b
.metadata/.plugins/org.eclipse.core.resources/.history/46/00a783043c0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/48/e0e3732f3b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/54/604a79e26001001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/54/f0e306233b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/56/5051e3ca6201001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/5b/a08bc89c6701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/5e/f053d92d4901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/64/90ec32f76001001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/67/c0be232d7901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/6b/90f4c1427901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/6f/e0edca607701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/6f/f036c1e74601001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/70/409c35346701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/76/5037caa23a0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/77/9048a85c330c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/7a/d02d762f3b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/7b/70f281f53b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/7d/b04f8246340c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/80/b0521698320c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/82/70aa7e3c3b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/83/d076843c3b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/87/f067fb5c7a01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/88/603f5acd4f01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/88/f0f085043c0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/88/f085c5de3c0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/8b/7065c7655001001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/8e/301f07d54f01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/90/807999646001001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/91/202afa347a01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/94/b04155304f01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/96/006622ec7901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/97/d0a33a19db06001b18faa048c749ab9b
.metadata/.plugins/org.eclipse.core.resources/.history/9a/3011c2d93901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/9c/d0001a944701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/a3/404172a03c01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/a3/005992715001001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/a6/d0b1b01c7701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/ae/2050c2ed4a0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/b0/d06f5d036201001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/b1/707a9d144801001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/b3/f071fa8b5b01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/b4/d0f8d4396701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/b5/906a436c4901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/b6/e033fd585c01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/b7/503b9bf23d0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/b9/2067095d7901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/bc/10b4be305e01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/c2/10b5fd713c01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/c3/50a79931db06001b18faa048c749ab9b
.metadata/.plugins/org.eclipse.core.resources/.history/c5/20c826074701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/c5/80676478380c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/c7/6018fc067801001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/cb/80eeb8b23b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/cc/005d873c3b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/cd/904b62ef7501001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/d/4026d574380c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/d6/908f7b734901001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/da/20fca827380c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/db/202ac4557601001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/dc/2028ad3b4f01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/dd/f0375a236201001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/df/d06b07a86701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/e/608433dc4f01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/e1/90d2ba835c01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/e6/60e4572d4801001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/e7/60f1766f380c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/e7/3095a5115e01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/e8/80efa5b96001001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/e8/d0055c663c0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/e9/500b06ca4f01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/ea/00d75f683a0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/eb/709a99583801001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/ec/50ec372f3b0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/f1/503b2ecc7701001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/f1/1089d8173c0c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/f1/d0a97e0d4801001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/f3/00bbf6e64601001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/f5/c08bf3a8370c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/f5/c099ef60340c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/f7/c0d4835f340c001b1f99bfc90b50a11f
.metadata/.plugins/org.eclipse.core.resources/.history/fa/90830a6f7a01001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.history/fe/007c92825801001b1c3db033dd28828f
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaStart/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaStart/.indexes/e4/81/2d/b3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaStart/.indexes/e4/81/2d/df/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaStart/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/ditto/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/ex/.location
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/23.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.as.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.css.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.mxml.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.net.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.datatools.sqltools.sqleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.wikitext.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.oomph.workingsets.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.genericeditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.epic.perleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/HelloWorld.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart001.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart002.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart003.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart004.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart005.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart006.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart007.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart008.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart009.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaStart012.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Start.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.mpc.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/12664308.index
.metadata/.plugins/org.eclipse.jdt.core/163105113.index
.metadata/.plugins/org.eclipse.jdt.core/285613858.index
.metadata/.plugins/org.eclipse.jdt.core/577588569.index
.metadata/.plugins/org.eclipse.jdt.core/615072693.index
.metadata/.plugins/org.eclipse.jdt.core/632553628.index
.metadata/.plugins/org.eclipse.jdt.core/1193578402.index
.metadata/.plugins/org.eclipse.jdt.core/1222368862.index
.metadata/.plugins/org.eclipse.jdt.core/1335672208.index
.metadata/.plugins/org.eclipse.jdt.core/1686513146.index
.metadata/.plugins/org.eclipse.jdt.core/2005006789.index
.metadata/.plugins/org.eclipse.jdt.core/2104401157.index
.metadata/.plugins/org.eclipse.jdt.core/2123524698.index
.metadata/.plugins/org.eclipse.jdt.core/2725910312.index
.metadata/.plugins/org.eclipse.jdt.core/3249408952.index
.metadata/.plugins/org.eclipse.jdt.core/3285554036.index
.metadata/.plugins/org.eclipse.jdt.core/3471862107.index
.metadata/.plugins/org.eclipse.jdt.core/3487200020.index
.metadata/.plugins/org.eclipse.jdt.core/3674437452.index
.metadata/.plugins/org.eclipse.jdt.core/3702745130.index
.metadata/.plugins/org.eclipse.jdt.core/4238323835.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/9/39/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/9/39/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/9/40/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/9/40/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/JavaStart/2020/10/41/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/JavaStart/2020/10/41/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/JavaStart/2020/10/42/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/JavaStart/2020/10/42/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.1.20180912-1601.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.oomph.setup.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_a.fdt
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_a.fdx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_a.fnm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_a.frq
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_a.nrm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_a.prx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_a.tii
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_a.tis
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_b.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_c.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_d.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_e.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_f.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_g.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_h.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_i.fdt
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_i.fdx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_i.fnm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_i.frq
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_i.nrm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_i.prx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_i.tii
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/_i.tis
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/segments_j
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/JavaStart/segments.gen
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.cheatsheets/history.xml
.metadata/.plugins/org.eclipse.ui.cheatsheets/org.eclipse.jdt.helloworld.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.vscode/launch.json
.vscode/settings.json
