*{
    margin: 0;
    padding: 0;
}
#wrap{
    width: 1000px;
    margin: auto;
}
#header{
    width: 942px;
    height: 165px;
}
.logo{
    position: relative;
    top: 33%;
    left: 5%;
}
#logoimg{
    width: 198px;
    height: 38px;
}
.searchBox{
    position: relative;
    left: 30%;
    width: 500px;
    background: white;
    border: 10px solid #03CF5D;
    height: 40px;
    padding: 5px;
}
.searchBox:hover > .searchTxt{
    width: 240px;
    padding: 0 6px;
}
.searchBox:hover > .searchBtn{
    background:  #03CF5D;
    color:  white;
}
.searchBtn{
    color:   #03CF5D;
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.searchTxt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
a{
    text-decoration: none;
}

.navbar{
    width: 940px;
    height: 30px;
    align-items: center;
    background-color: #03CF5D;
    padding: 3px 3px;
    font-family: 'JetBrains Mono', monospace;
}
.navbar_menu{
    display: flex;
    list-style: none;
    height: 65px;
}

.navbar_menu li{
    padding: 8px 12px;
    width:100px;
}
.navbar_menu a{
    display: block;
    color: white;
    background-color: #03CF5D;
    font-size: 15px;
    padding: 0px 2px;
}
.navbar_menu a:hover{
    color: #01a147;
    background-color: #03CF5D;
}
.navbar_menu li>div{
    display:none;
}
.navbar_menu li:hover{
    color: rgb(196, 60, 60);
}
.navbar_menu li>a:hover{
    color:  #01a147;
}
/*****************************************/
#body1{
    width: 635px;
    margin-right: 5px;
    float: left;
}
#body2{
    width: 300px;
    float: left;
}
#ad1{
    height: 101px;
    background-image: url(naverdiv/광고.png);
}
#news{
    height: 310px;
    background-image: url(naverdiv/뉴스.png);
}
#menu{
    height: 47px;
    background-image: url(naverdiv/메뉴.png);
}
#content1{
    height: 351px;
    background-image: url(naverdiv/위.png);
}
#content2{
    height: 390px;
    background-image: url(naverdiv/아래.png);
}
#login{
    height: 100px;
    background-image: url(naverdiv/로그인화면.png);
}
#weather{
    height: 160px;
    background-image: url(naverdiv/날씨.png);
}
#ad2{
    height: 151px;
    background-image: url(naverdiv/동영상광고.png);
}
#smenu{
    height: 47px;
    background-image: url(naverdiv/쇼핑메뉴.png);
}
#shop{
    height: 61px;
    background-image: url(naverdiv/쇼핑회사.png);
}
#shopping{
    height: 682px;
    background-image: url(naverdiv/쇼핑.png);
}
#bottom{
    height: 238px;
    width: 942px;
    background-image: url(naverdiv/바닥.png);
    float: left;
}
#clear{
    clear: both;
}